<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cz-creox-iosct"
        version="0.0.1">
    <name>iOS Call Trap</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/IOSCT.js" name="IOSCT">
            <runs/>
            <clobbers target="cordova.plugins.IOSCT" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="IOSCT">
                <param name="ios-package" value="IOSCT" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/IOSCT.h" />
        <source-file src="src/ios/IOSCT.m" />
    </platform>
</plugin>